              <form action="//triumphhotels.us15.list-manage.com/subscribe/post?u={{ site.mailchimp.user }}&amp;id={{ site.mailchimp.list }}" method="post" class="form" id="mc-embedded-subscribe-form" target="_blank" novalidate>
                <fieldset>
                    <legend>Email Subscription</legend>
                    <h3>Your Information:</h3>
                    <p class="odd2"><label for="mce-EMAIL"><em>*</em>Email Address</label><input type="text" value="" name="EMAIL" class="validate[required,custom[email]] text" id="mce-EMAIL" aria-label="Enter your email address" required="required"></p>

                    <p> <label for="mce-FNAME"><em>*</em>First Name</label><input type="text" value="" name="FNAME" class="validate[required] text" id="mce-FNAME" aria-label="Enter your first name" required="required"></p>

                    <p class="odd2"><label for="mce-LNAME"><em>*</em>Last Name</label><input type="text" value="" name="LNAME" class="validate[required] text" id="mce-LNAME" aria-label="Enter your last name" required="required"></p>

                    <p><label for="Visitor_Type">Visitor Type:</label><span class="group" aria-label="Select visitor type"><label for="group_2048"><input type="checkbox" name="group[2961][2048]" value="1" class="checkbox" id="group_2048">Leisure</label><label for="group_4096"><input type="checkbox" name="group[2961][4096]" value="1" class="checkbox" id="group_4096">Meetings</label><label for="group_8192"><input type="checkbox" name="group[2961][8192]" value="1" class="checkbox" id="group_8192">Group Travel</label></span></p>

                    <!--Hidden Preselected Property-->
                    <input type="checkbox" id="{{ site.mailchimp.group }}" style="display: none;" checked="checked" name="{{ site.mailchimp.property }}" value="1">
                </fieldset>

                <fieldset class="controls">
                    <div id="mce-responses" class="clear">
                        <div class="response" id="mce-error-response" style="display:none"></div>
                        <div class="response" id="mce-success-response" style="display:none"></div>
                    </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_94727f91a2184787c159d7c9f_318ed85bdb" tabindex="-1" value=""></div>
                    <p><input type="submit" value="Sign Up" name="subscribe" id="mc-embedded-subscribe" class="button"></p>
                </fieldset>
            </form>

            <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[3]='MMERGE3';ftypes[3]='text';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[4]='MMERGE4';ftypes[4]='text';fnames[5]='MMERGE5';ftypes[5]='text';fnames[6]='MMERGE6';ftypes[6]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>