---
layout: default
---
{% assign special-offer = page %}
{% assign model = page %}


        <!--div id="photos">
            {% if special-offer.url_friendly_name contains 'romance-package' %}
             <div class="slideshow">
                <figure class="photo" style="background-image:url('/images/cms/cache/1920x1080/0d/romance-package-2.jpg');"> <img src="/images/cms/cache/1920x1080/0d/romance-package-2.jpg" alt=""> </figure>
             </div>
             <div class="scroll-to-explore">Scroll to Explore</div>
            {% endif %}
        {% if special-offer.url_friendly_name contains 'stay-and-play' %}
         <div class="slideshow">
           <figure class="photo" style="background-image:url('/images/cms/cache/1920x1080/0d/325-0d2f7ff7761a7f0615ba44689d858eea.jpg');"> <img src="/images/cms/cache/1920x1080/0d/325-0d2f7ff7761a7f0615ba44689d858eea.jpg" alt=""> </figure>
         </div>
         <div class="scroll-to-explore">Scroll to Explore</div>       
        {% endif %}

        {% if special-offer.url_friendly_name contains 'park-and-play' %}
          <div class="slideshow">
            <figure class="photo" style="background-image:url('/images/cms/cache/1920x1080/d9/9-d93326a6db76b0b6f5a9e415b293fac7.jpg');"> <img src="/images/cms/cache/1920x1080/d9/9-d93326a6db76b0b6f5a9e415b293fac7.jpg" alt=""> </figure>
          </div>
         <div class="scroll-to-explore">Scroll to Explore</div>
        {% endif %}

        {% if special-offer.url_friendly_name contains 'blackbarn' %}
            <div class="slideshow">
            <figure class="photo" style="background-image:url('/images/cms/cache/1920x1080/8c/670-8ce0feac5debec245da3426e5716faad.jpg');"> <img src="/images/cms/cache/1920x1080/8c/670-8ce0feac5debec245da3426e5716faad.jpg" alt=""> </figure>
            <figure class="photo" style="background-image:url('/images/cms/cache/1920x1080/5d/684-5da8d95f6314e29d09650eb8b187827f.jpg');"> <img src="/images/cms/cache/1920x1080/5d/684-5da8d95f6314e29d09650eb8b187827f.jpg" alt=""> </figure>
            <figure class="photo" style="background-image:url('/images/cms/cache/1920x1080/ee/667-ee3870085d81a6ad8eb4f16408ed7520.jpg');"> <img src="/images/cms/cache/1920x1080/ee/667-ee3870085d81a6ad8eb4f16408ed7520.jpg" alt=""> </figure>
            <figure class="photo" style="background-image:url('/images/cms/cache/1920x1080/8c/670-8ce0feac5debec245da3426e5716faad.jpg');"> <img src="/images/cms/cache/1920x1080/8c/670-8ce0feac5debec245da3426e5716faad.jpg" alt=""> </figure>
            <figure class="photo" style="background-image:url('/images/cms/cache/1920x1080/5d/684-5da8d95f6314e29d09650eb8b187827f.jpg');"> <img src="/images/cms/cache/1920x1080/5d/684-5da8d95f6314e29d09650eb8b187827f.jpg" alt=""> </figure>
            </div>
            <div class="scroll-to-explore">Scroll to Explore</div>
        {% endif %}        

        {% if special-offer.url_friendly_name contains 'special-offer' %}
        <div class="slideshow">
            <figure class="photo" style="background-image:url('/images/cms/cache/1920x1080/9e/606-9ec107af4892d28f2b5111d86cf6b141.jpg');"> <img src="/images/cms/cache/1920x1080/9e/606-9ec107af4892d28f2b5111d86cf6b141.jpg" alt=""> </figure>
         </div>
         <div class="scroll-to-explore">Scroll to Explore</div>
        {% endif %}

        {% if special-offer.url_friendly_name contains 'see-forever' %}
        <div class="slideshow">
            <figure class="photo" style="background-image:url('/images/cms/cache/1920x1080/91/673-917851ac169f4a27f2f591db38d70b1f.jpg');"> <img src="/images/cms/cache/1920x1080/91/673-917851ac169f4a27f2f591db38d70b1f.jpg" alt=""> </figure>
            <figure class="photo" style="background-image:url('/images/cms/cache/1920x1080/7f/674-7f9c685f754aaf1273add62d40930863.jpg');"> <img src="/images/cms/cache/1920x1080/7f/674-7f9c685f754aaf1273add62d40930863.jpg" alt=""> </figure>
            <figure class="photo" style="background-image:url('/images/cms/cache/1920x1080/91/673-917851ac169f4a27f2f591db38d70b1f.jpg');"> <img src="/images/cms/cache/1920x1080/91/673-917851ac169f4a27f2f591db38d70b1f.jpg" alt=""> </figure>
            <figure class="photo" style="background-image:url('/images/cms/cache/1920x1080/7f/674-7f9c685f754aaf1273add62d40930863.jpg');"> <img src="/images/cms/cache/1920x1080/7f/674-7f9c685f754aaf1273add62d40930863.jpg" alt=""> </figure>
         </div>
         <div class="scroll-to-explore">Scroll to Explore</div>
        {% endif %}

        {% if special-offer.url_friendly_name contains 'local-university-rate' %}
         <div class="slideshow">
            <figure class="photo" style="background-image:url('/images/cms/cache/1920x1080/23/467-239eab1c931301c79adb69b1ab77502b.jpg');"> <img src="/images/cms/cache/1920x1080/23/467-239eab1c931301c79adb69b1ab77502b.jpg" alt=""> </figure>
         </div>
         <div class="scroll-to-explore">Scroll to Explore</div>
         {% endif %}        

         {% if special-offer.url_friendly_name contains 'celebrate-the-holidays-with-evelyn' %}
         <div class="slideshow">
            <figure class="photo" style="background-image:url('/images/cms/cache/1920x1080/b5/742-b5afac2b6d7831c04065a2a8465225c3.jpg');"> <img src="/images/cms/cache/1920x1080/b5/742-b5afac2b6d7831c04065a2a8465225c3.jpg" alt=""> </figure>
         </div>
         <div class="scroll-to-explore">Scroll to Explore</div>
        {% endif %}

         </div>
         
</div-->
<div id="photos">

        <div class="slideshow">
            <figure class="photo" style="background-image:url('{{special-offer.offer_banner_image1.url}}');"> <img src="{{special-offer.offer_banner_image1.url}}" alt=""> </figure>
            {% if special-offer.offer_banner_image2 %}
            <figure class="photo" style="background-image:url('{{special-offer.offer_banner_image2.url}}');"> <img src="{{special-offer.offer_banner_image2.url}}" alt=""> </figure>
            {% endif %}
            {% if special-offer.offer_banner_image3 %}
            <figure class="photo" style="background-image:url('{{special-offer.offer_banner_image3.url}}');"> <img src="{{special-offer.offer_banner_image3.url}}" alt=""> </figure>
            {% endif %}
         </div>
         <div class="scroll-to-explore">Scroll to Explore</div>  
</div>
     <div id="content-area" class="container">
      <!--   <aside id="sidebar">
            <nav id="submenu">
               <h4><a href="/offers">Exclusive Offers</a></h4>
               <ul>
                  <li class=""> <a href="/offers/aaa-aarp">AAA & AARP</a> </li>
                  <li class=""> <a href="/offers/celebration-packages">Celebration Packages</a> </li>
               </ul>
            </nav>
        </aside> -->
    <section id="content" >
        <h1>{{special-offer.title}}</h1>
            {{special-offer.long_desc}}
            <nav>  <a class="button" href="{{special-offer.book_pkg_url}}" target="_blank" rel="nofollow">{{special-offer.book_pkg_online}}</a>
               <a href="#share"  class="share" title="Share This Site">SHARE THIS PACKAGE</a> 
            </nav>
            
           
        </div>

       
    </section>
</div>

<div id="share" style="display:none;">
<script type="text/javascript">
$(function(){
$('#share-this-site a').each(function(){
var url = $(this).attr('href') + '?' + $(this).attr('rev')    .replace(/{URL}/g, encodeURIComponent(self.location.href))
        .replace(/{TITLE}/g, encodeURIComponent($('title:first').text()))
        .replace(/{H1}/g, encodeURIComponent($('h1:first').text()))
        .replace(/{TXT}/g, encodeURIComponent($('meta[name="description"]').attr('content')))
        .replace(/{TAG}/g, encodeURIComponent($('meta[name="keywords"]').attr('content')));
$(this).attr({'href': url, 'target': '_blank'});
});
});
</script>

<ul id="share-this-site">
<li><a href="mailto:" rev="body={URL}%0A%0A{TXT}&amp;subject={TITLE}" class="share_email"><span class="icon"></span>Mail</a></li>
<li><a href="http://www.facebook.com/sharer.php?s=100" rev="&amp;p[url]={URL}&amp;p[title]={TITLE}&amp;p[summary]={TXT}" class="share_facebook"><span class="icon"></span>Facebook</a></li>
<li><a href="http://twitter.com/home" rev="status={H1} {URL} via @TheEvelynNYC" class="share_twitter"><span class="icon"></span>Twitter</a></li>
<li><a href="http://www.pinterest.com/pin/create/button/" rev="url=index.html" class="share_pinterest"><span class="icon"></span>Pinterest</a></li>
<li><a href="http://www.linkedin.com/shareArticle" rev="mini=true&amp;url={URL}&amp;title={TITLE}" class="share_linkedin"><span class="icon"></span>Linkedin</a></li>
<li><a href="https://plus.google.com/share" rev="url={URL}" class="share_google"><span class="icon"></span>Google</a></li>
</ul>
</div>
